In [1]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.orm import relationship
import mysql.connector
add = Flask(__name__)
add.config["SQLALCHEMY_DATABASE_URI"] = "mysql+pymysql://root:root@localhost/2124802050013?charset=utf8mb4"
add.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = True
db = SQLAlchemy(app=add)

class KHACHHANG(db.Model):
    MAKH = db.Column(db.Integer, nullable=False, primary_key=True)
    TENKH = db.Column(db.String(100), nullable=False)
    DIACHI = db.Column(db.String(100), nullable=False)
    LOAIKH = db.Column(db.String(50), nullable=False)
    dienthoai = relationship("DIENTHOAI", backref="KHACHHANG", lazy=True)
    def __init__(self, MAKH, TENKH, DIACHI, LOAIKH):
        self.DIACHI = DIACHI
        self.LOAIKH = LOAIKH
        self.TENKH = TENKH
        self.MAKH = MAKH
    
class DIENTHOAI(db.Model):
    SODT = db.Column(db.String(11), nullable=False, primary_key=True)
    MAKH = db.Column(db.Integer, ForeignKey(KHACHHANG.MAKH), nullable=False)
    LOAIDT = db.Column(db.String(50), nullable=False)
    SOHD = db.Column(db.Integer, nullable=False)
    dichvu = relationship("DICHVU", secondary="DANGKY")
    def __init__(self, SODT, MAKH, LOAIDT, SOHD):
        self.MAKH = MAKH
        self.SODT = SODT
        self.SOHD = SOHD
        self.LOAIDT = LOAIDT
    
class DICHVU(db.Model):
    MADV = db.Column(db.Integer, nullable=False, primary_key=True)
    TENDV = db.Column(db.String(50), nullable=False)
    dienthoai = relationship("DIENTHOAI", secondary="DANGKY")
    def __init__(self, MADV, TENDV):
        self.MADV = MADV
        self.TENDV = TENDV

class DANGKY(db.Model):
    MADV = db.Column(db.Integer, ForeignKey(DICHVU.MADV), primary_key= True, nullable = False)
    SODT = db.Column(db.String(11), ForeignKey(DIENTHOAI.SODT), primary_key= True, nullable = False)
    dienthoai = relationship("DIENTHOAI", backref="DANGKY_DIENTHOAI")
    dichvu = relationship("DICHVU", backref="DANGKY_DICHVU")
    def __init__(self, MADV, SODT):
        self.MADV = MADV
        self.SODT = SODT
with add.app_context():
    db.create_all()

In [2]:
conn = mysql.connector.connect(host = "localhost", user = "root", passwd = "root", database='2124802050013', charset = 'utf8mb4')
cs = conn.cursor()

In [3]:
query_khachhang = "insert into khachhang values \
(1, 'Nguyễn Hữu Nghĩa', 'Bình Dương', 'Cá Nhân'),\
(2, 'Lục Tấn Khoa', 'Bình Dương', 'Doanh Nghiệp'),\
(3, 'Phạm Tuấn Vũ', 'Bình Dương', 'Cá Nhân'),\
(4, 'Trần Trung Nguyên', 'Thủ Dầu Một', 'Doanh Nghiệp'),\
(5, 'Nguyễn Thị Thanh Hằng', 'Thủ Dầu Một', 'Cá Nhân'),\
(6, 'Phan Thuý Thanh', 'Thủ Dầu Một', 'Doanh Nghiệp'),\
(7, 'Đặng Trịnh Duy Anh', 'Bình Dương', 'Doanh Nghiệp'),\
(8, 'Phan Thị An', 'Sài Gòn', 'Doanh Nghiệp')"
cs.execute(query_khachhang)

query_dienthoai = "INSERT INTO dienthoai values\
('0000000000', 1, 'Vô tuyến', 1),\
('1111111111', 2, 'Dây cáp', 2),\
('2222222222', 3, 'Vô tuyến', 3),\
('3333333333', 4, 'Dây cáp', 4),\
('4444444444', 5, 'Vô tuyến', 5),\
('5555555555', 6, 'Dây cáp', 6),\
('6666666666', 7, 'Vô tuyến', 7),\
('7777777777', 8, 'Dây cáp', 8)"
cs.execute(query_dienthoai)

query_dichvu = "insert into dichvu values\
(1, 'Dịch vụ A23 SMS'),\
(2, 'Dịch vụ funring'),\
(3, 'Dịch vụ SMS PRO'),\
(4, 'Dịch vụ SMS Brand Name'),\
(5, 'Dịch vụ điện báo và Telex'),\
(6, 'Dịch vụ FACSLMLLE (FAX)'), \
(7, 'Dịch vụ truyền số liệu'), \
(8, 'Dịch vụ Điện thoại “Thu cước từ người được gọi”')"
cs.execute(query_dichvu)

query_dangky = "insert into dangky values\
(1, '0000000000'),\
(1, '2222222222'),\
(2, '1111111111'),\
(3, '2222222222'),\
(4, '1111111111'),\
(5, '0000000000'),\
(1, '6666666666'),\
(1, '7777777777'),\
(8, '4444444444')"
cs.execute(query_dangky)

cs.fetchall()
conn.commit()

In [4]:
query = "select TENDV , dt.SODT, TENKH, LOAIKH \
From dichvu dv, khachhang kh, dangky dk, dienthoai dt \
where dv.MADV = dk.MADV and dk.SODT = dt.SODT and dt.MAKH = kh.MAKH and kh.LOAIKH = 'Cá Nhân'"
cs.execute(query)
rs = cs.fetchall()
for x in rs:
    print(x)

('Dịch vụ A23 SMS', '0000000000', 'Nguyễn Hữu Nghĩa', 'Cá Nhân')
('Dịch vụ điện báo và Telex', '0000000000', 'Nguyễn Hữu Nghĩa', 'Cá Nhân')
('Dịch vụ A23 SMS', '2222222222', 'Phạm Tuấn Vũ', 'Cá Nhân')
('Dịch vụ SMS PRO', '2222222222', 'Phạm Tuấn Vũ', 'Cá Nhân')
('Dịch vụ Điện thoại “Thu cước từ người được gọi”', '4444444444', 'Nguyễn Thị Thanh Hằng', 'Cá Nhân')

In [5]:
query = "select dk.SODT, TENDV \
from dienthoai dt, dichvu dv, dangky dk \
where dt.SODT = dk.SODT and dv.MADV = dk.MADV and dv.TENDV LIKE '%SMS%'"
cs.execute(query)
rs = cs.fetchall()
for x in rs:
    print(x)

('0000000000', 'Dịch vụ A23 SMS')
('2222222222', 'Dịch vụ A23 SMS')
('6666666666', 'Dịch vụ A23 SMS')
('7777777777', 'Dịch vụ A23 SMS')
('2222222222', 'Dịch vụ SMS PRO')
('1111111111', 'Dịch vụ SMS Brand Name')

In [6]:
query = "select TENDV \
from dienthoai dt, dichvu dv, dangky dk, khachhang kh \
where dt.SODT = dk.SODT and dv.MADV = dk.MADV and kh.MAKH = dt.MAKH and dv.TENDV LIKE '%SMS%'"
cs.execute(query)
rs = cs.fetchall()
for x in rs:
    print(x)

('Dịch vụ A23 SMS',)
('Dịch vụ A23 SMS',)
('Dịch vụ A23 SMS',)
('Dịch vụ A23 SMS',)
('Dịch vụ SMS PRO',)
('Dịch vụ SMS Brand Name',)

In [7]:
query = "select TENDV, TENKH \
from dichvu dv, dangky dk, khachhang kh, dienthoai dt \
where dv.MADV = dk.MADV and dk.SODT = dt.SODT and dt.MAKH = kh.MAKH and (kh.TENKH LIKE '%Anh' or kh.TENKH LIKE '%An')"
cs.execute(query)
rs = cs.fetchall()
for x in rs:
    print(x)

('Dịch vụ A23 SMS', 'Đặng Trịnh Duy Anh')
('Dịch vụ A23 SMS', 'Phan Thị An')

In [8]:
query = "select TENDV, TENKH \
from dichvu dv, dangky dk, khachhang kh, dienthoai dt \
where dv.MADV = dk.MADV and dk.SODT = dt.SODT and dt.MAKH = kh.MAKH and kh.TENKH LIKE 'Nguyễn%'"
cs.execute(query)
rs = cs.fetchall()
for x in rs:
    print(x)

('Dịch vụ A23 SMS', 'Nguyễn Hữu Nghĩa')
('Dịch vụ điện báo và Telex', 'Nguyễn Hữu Nghĩa')
('Dịch vụ Điện thoại “Thu cước từ người được gọi”', 'Nguyễn Thị Thanh Hằng')

In [9]:
query = "select TENDV, LOAIKH, DIACHI \
from dichvu dv, dangky dk, khachhang kh, dienthoai dt \
where dv.MADV = dk.MADV and dk.SODT = dt.SODT and dt.MAKH = kh.MAKH and KH.DIACHI = 'Bình Dương' and kh.LOAIKH = 'Doanh Nghiệp'"
cs.execute(query)
rs = cs.fetchall()
for x in rs:
    print(x)

('Dịch vụ funring', 'Doanh Nghiệp', 'Bình Dương')
('Dịch vụ SMS Brand Name', 'Doanh Nghiệp', 'Bình Dương')
('Dịch vụ A23 SMS', 'Doanh Nghiệp', 'Bình Dương')